.contents-div {
  display: flex;
  justify-content: center;
}

.content-section {
  display: flex;
}

.content-section h2 {
  align-self: center;
}

.content-section .items {
  display: flex;

}